<table class="table">
  <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Marca</th>
      <th>Línea</th>
      <th>Modelo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vehicle of vehicles$ | async">
      <th>{{ vehicle.id }}</th>
      <td>
        {{ vehicle.marca }}
      </td>
      <td>{{ vehicle.linea }}</td>
      <td>{{ vehicle.modelo }}</td>
    </tr>
  </tbody>
</table>

<p *ngFor="let vehicleCount of vehicleBrandsCount$ | async">
  Total {{vehicleCount.brand}}: {{vehicleCount.count}}
</p>
